{% load static %}
<!--Howdy Template-->


<html>

	<head>
		<meta charset ="utf-8">
		<title>CG Welcomes Thee{% block title %}{% endblock %}</title>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
		<!--<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />-->
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- logo for tab -->
		<link rel="icon" href="{% static 'bannerpiclogo.png' %}" alt="mylogo">
		
	</head>
	<body style="background-image: url('{% static "stary.png"%}')";>
	
	
	<div class="parallax" >
		<div id ="bgdiv">
			
		</div>
	</div>
	<div id = "banner"><img src="{% static 'bannerpic.png' %}" alt="myimage"/></div>
	<!--<div id = "transtop"></div>-->
	
	
	<div class ="container" id = "main">
		<div class = "row">
		
			<div class="col-lg-12 col-md-12 ">
		
		
		
				<div class="topnav" id="mytopnav">
				
					<nav class="navbar navbar">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle  navbar-inverse" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span> 
							</button>
						
							<div class="collapse navbar-collapse" id="myNavbar"> 
								<ul class="nav navbar-nav">
						
									<a href ="home"><img src="{% static 'bannerpiclogo.png' %}" alt="mylogo"/></a>	
									<a href="home">Home</a>
									<a href="about">About</a>
									<a href="news">News</a>
									<a href="trends">Check Trends</a>
									<a href="gamescolpage">View games collection</a>
									<a href="AddGames">Add to games list</a>
									<a href="gameslists">Games</a>
									<a href="login">Login</a>
									<a href="register">Sign up</a>
									
									
							
								</ul>
								
							</div>
									{% if request.user %}
										<div id = "loggedintab">
										<a href="profile"><h1>{{request.user.username}}'s logged in! View details</h1></a>
										
										{% else %}
									</div>
									{% endif %}
									
									
						</div>
						
						
					</nav>
					
			
				</div>
				
				
			</div>
			
			
		</div>
		
	</div>
	
	
		<!-- Jquery to change the nav color when scroll Down -->
		<script>
$(document).ready(function(){
  $(window).scroll(function(){
  	var scroll = $(window).scrollTop();
	  if (scroll > 50) {
	    $(".topnav a").css("background" , "#001A35");
		$("#loggedintab a").css("background" , "#ffffff");
	  }

	  else{
		  $(".topnav a").css("background" , "00");  	
	  }
  })
})
</script>
		{% block addgames %}
		{% endblock %}
		{% block welcomecontent %}
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block pagecontent %}
        {% endblock %} 
		{% block aboutcontent %}
        {% endblock %}		
    </body>

	</html>
