{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		
    </head>
    <body>
	
	{% block gamescolcontent %}
	
<div class ="container" id = "main">
	<div class = "row">
			
		<div class="col-lg-12">
				
				
				
			<h1>The Collection</h1>
		<p>
			Here is the full list of our users collection
		</p>
		
		<h4>Queary the collection based on title console or owner</h4>
		<form method='GET' action=''>
		<input ='text' name='q' placeholder='Search Games' value='{{ request.GET.q}}'/>
		<input id = "searchbtn" type='submit' value='Search'/>
		<p></p>
		<div id = "gamedatabtn">
		<a href="gamesdata">Collection Data</a>
		</div>	
		
			<div id = "gameslistdiv" style="overflow-x:auto;">
			
			<h1></h1>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Box Art</th>
							<th>Console</th>
							<th>Owner Score</th>
							<th>Release Date</th>
							<th>Owner Description</th>
							<th>Fond Memories</th>
							<th>Uploader</th>
						</tr>
					</thead>	
					<tbody>
						<tr>
						
							{% for gameslist in gameslists%}
							<h1> {{gameslist.gameslist}} </h1>
							<td>{{gameslist.id}} </td>
							<td>{{gameslist.title}} </td>
							<td><img src="{{ gameslist.game_pic.url }}" width = "125" alt = "game_pic"></td>
							<td>{{gameslist.console}} </td>
							<td>{{gameslist.score}}%</td>
							<td>{{gameslist.release_date}} </td>
							<td>{{gameslist.description}} </td>
							<td>{{gameslist.fond_memories}} </td>
							<td>{{gameslist.owner}}
							<p><a href="{% url 'oug' pk=gameslist.pk %}" >View Game</a></p>
							</td>
							
					
						</tr>
						
						
					
					</tbody>
					
					
					
					
				{% endfor %}
				
					
				</table>
				
			</div>
		</div>
	
		</div>
	</div>
</div>


	{% endblock %}
    </body>
</html>