{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		
    </head>
    <body>
	
	{% block gamesdatacontent %}
	
<div class ="container" id = "main">
	<div class = "row">
			
		<div class="col-lg-12">
				
				
				
			<h1>The Collection</h1>
		<p>
			Here is our games collection data
		</p>
		
		
		
		
			
		
			<div id = "gameslistdiv" style="overflow-x:auto;">
			 <h1>Total number of games in the collection: {{gamescount}}</h1></p>
			<h1>{{ocount}}</h1>
			<h1>{{bestgames}}</h1>
			
				
					
				<h1></h1>
				<table>
					<thead>
						<tr>
							
							<th>Title</th>
							<th>Counted</th>
							
						</tr>
					</thead>	
					<tbody>
						<tr>
						
							{% for gameslist in bestgames%}
							<h1> {{gameslist.gameslist}} </h1>
							
							<td> {{gameslist.title}} </td>
							<td> {{ocount.title.count}} </td>
							
					
						</tr>
						
						<!--<h1>View {{gameslist.owner}}'s list</h1></a> -->
					
					</tbody>
					
					
					
					
				{% endfor %}
				
					
				</table>
				
			</div>
		</div>
	
		</div>
	</div>
</div>


	{% endblock %}
    </body>
</html>