{% extends 'base.html' %}
{% load static %}
<!--Howdy Template-->


<html>

	<head>
		<meta charset ="utf-8">
		<title>CG Welcomes Thee{% block title %}{% endblock %}</title>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!--<script src={% static "main.js" %}type ="text/javascript"></script>-->
		
		<!--<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />-->
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		
		
		
	</head>
	<body>	
{% block homecontent %}	
		<div class ="container" id = "main">
			<div class = "row">
				
				<div class="col-lg-12">				
				
					<div id = "welcomecontents">
						
						<h1>Welcome to Chronos Gaming - The plane of the glorious ones!!</h1>
						
						<p>
							Here we value the greats by reflecting on the past and current masterpieces.
							Sign up and start adding to the games list voice your opinion by uploading a user article, 
							pop into chat to see whats buzzing or just browse the game database and see why these games
							will always stay with the fans.
						</p>
						
						</br>
						
						<p>
							This Service is a social scene for game lovers! The following are features
							of available to users.
							 
						</p>
						
						<ul>
							<li><p>Keep track of and show off your games collection</p></li>
							<li><p>View articles uploaded by other users or voice you opinion and upload your own</p></li>
							<li><p>Chat with users of the service </p></li>
							<li><p>Browse a user genereted games list filled with details and reasons for these greats relevance </p></li>
							<li><p>Catch up on the latest news in the gaming world </p></li>
						</ul>
						
					</div>
					
				</div>

			</div>
		</div>		  
{% endblock %}		
    </body>

	</html>
